In [1]:
#q1
def mul(a,b):
    c=a*b
    return(c)
a=int(input("num1"))
b=int(input("num2"))
c=mul(a,b)
print(c)

num14
num25
20

In [2]:
#q2
def add(a,b):
    c=a+b
    return(c)
a=int(input("num1"))
b=int(input("num2"))
c=add(a,b)
print(c)

num14
num25
9

In [13]:
#q4
def fib(v):
    a=0
    b=1
    for i in range(v):
        sum=a+b
        print(sum)
        a=b
        b=sum
v=int(input("enter the limit"))
fib(v)

enter the limit5
1
2
3
5
8

In [14]:
#q5
def swap(a,b):
    t=0
    t=a
    a=b
    b=t
    print(a,b)
a=int(input("enter first number"))
b=int(input("enter second number"))
swap(a,b)

enter first number4
enter second number5
5 4

In [15]:
#q3
def factorial(num):
    fact=1
    for i in range(1, num+1):
        fact=fact*i
    return fact
number=int(input("Please enter any number to find factorial: "))
result=factorial(number)
print("The factorial of %d = %d"%(number,result))

Please enter any number to find factorial: 4
The factorial of 4 = 24

In [16]:
#q6
def hcf(x, y):
    if x > y:
        smaller = y
    else:
        smaller = x
    for i in range(1, smaller + 1):
        if ((x % i == 0) and (y % i == 0)):
            hcf = i
    return hcf


num1 = int(input("Enter first number: "))
num2 = int(input("Enter second number: "))
print("The H.C.F. of", num1, "and", num2, "is", hcf(num1, num2))

Enter first number: 4
Enter second number: 2
The H.C.F. of 4 and 2 is 2

In [17]:
#q7
num = int(input("Enter ASCII value: "))
print(chr(num))

num2 = 70
print(chr(num2))

Enter ASCII value: 4

F

In [18]:
#q8
import math
a = 2.3
print ("The ceil of 2.3 is : ", end="")
print (math.ceil(a)) 
print ("The floor of 2.3 is : ", end="")
print (math.floor(a))

The ceil of 2.3 is : 3
The floor of 2.3 is : 2

In [20]:
#q9
import time;

ticks = time.time()
print("Number of ticks since 12:00am, January 1, 1970:", ticks)

Number of ticks since 12:00am, January 1, 1970: 1585729674.5809975

In [21]:
#q10
def greet(name,msg):
   print("Hello",name + ', ' + msg)
greet("Hi","Good morning")

Hello Hi, Good morning

In [23]:
#q11
def print_name(name1, name2):
  print(name1 + " and " + name2 + " are brother")
print_name(name2 = 'aman',name1 = 'amit')

amit and aman are brother

In [24]:
#q12
def sum(a=5, b=6):
  print (a+b)
sum(1,2)
sum( )

3
11

In [27]:
#q13
def display(*name, **address):
  for items in name:
    print (items)

  for items in address.items():
    print (items)

display('aman','amit','rahul',aman='LA',amit='NY',rahul='DC')

aman
amit
rahul
('aman', 'LA')
('amit', 'NY')
('rahul', 'DC')